* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App {
    width: 800px;
}
.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.post__btns {
    display: flex;
}
.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.page__wrapper {
    display: flex;
    margin-top: 30px;

}
.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}
.page__active {
    border: 2px solid orange;
    cursor: pointer;
    font-weight: bold;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: darkgray;
    max-width: 100vw;
    height: 50px;
}
.navbar__links {
   display: flex;
    justify-content: space-between;
}
.navbar__item {
    margin-right: 30px;
    text-decoration: none;
    color: teal;
}